---
import Layout from '../layouts/Layout.astro';
import ChargeSection from '../components/ChargeSection.astro';
import HeroSectionBack from '../components/HeroSectionBack.astro'
import HeroSection from '../components/HeroSection.astro'
---

<Layout title="Pixelado - La Web al alcance de todos.">
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center">
			<HeroSectionBack />
		</div>
		<div class="snap-center">
			<ChargeSection />
		</div>
		<div class="snap-center">
			<HeroSection />
		</div>
		<!-- <div class="snap-center">
			<ChargeSection />
		</div> -->
	</main>
</Layout>

<style>

</style>
