---
import Layout from '../layouts/Layout.astro';
import ServicesSection from '../components/ServicesSection.astro';
import HeroSection from '../components/HeroSection.astro'
import FooterSection from '../components/FooterSection.astro';
import PortfolioSection from '../components/PortfolioSection.astro'
---

<Layout title="Pixelado - La Web al alcance de todos.">
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<!-- <div class="snap-center overflow-hidden">
			<HeroSection />
		</div>
		<div class="snap-center overflow-hidden">
			<ServicesSection />
		</div>
		<div class="snap-center overflow-hidden">
			<PortfolioSection />
		</div> -->
		<div class="snap-center">
			<FooterSection />
		</div>
	</main>
</Layout>

<style>

</style>
