---
import CardServices from "./CardServices.astro";

---

<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
            data-header-color="black">
    <div class="z-30 relative h-full flex flex-col">
        <CardServices />
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
       <img src="/public/servicios-3.jpeg" alt=""
       class="h-full w-full object-cover object-center">
    </div>


</section>