<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
        data-header-color="black">
    <div class="z-30 relative h-full flex flex-col">
        <header class="h-screen flex flex-col justify-center">
            <h2 class="text-black text-[40px] font-medium">El Futuro de tu Negocio Está en la Web</h2>
            <p class="text-black text-lg">Expertos en Diseño y Desarrollo Web Personalizado</p>
        </header>
        <footer class="flex flex-col flex-grow justify-end pb-40">
            <div>
                <a class="border-[3px] border-black bg-white/5 text-sm rounded font-medium 
                        text-black px-12 py-2 inline-block hover:bg-black hover:text-white
                          transition-colors" href="/desarrolloweb">
                    Ver Planes
                </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video class="objetc-center object-cover h-full w-full" autoplay muted loop src="/video6.mp4"></video>
    </div>


</section>