---
import CardPortfolio from "./CardPortfolio.astro";

---

<section id="portfolio" class="landing-section h-screen w-screen text-center relative overflow-hidden"
            data-header-color="black">
    <div class="z-30 relative h-full flex flex-col">
        <CardPortfolio />
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10 bg-bg-300">
       <!-- <img src="/servicios-3.jpeg" alt=""
       class="h-full w-full object-cover object-center"> -->
    </div>


</section>